In [33]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import csv

# File to Load 
file_to_load = "Resources/Wine_Bottled_2019.csv"

# Read Purchasing File and store into Pandas data frame
wine_data = pd.read_csv(file_to_load)
wine_df = wine_data

In [34]:
wine_df.head(1000)

,State,# of Bottled Still Wines,# of Bottled Effervescence Wines,Month
0,Alabama,30153,200,December
1,Alaska,5247,0,December
2,Arizona,80784,2059,December
3,Arkansas,24197,0,December
4,California,39007466,1110404,December
...,...,...,...,...
540,Wisconsin,353647,496,March
541,Wisconsin,156990,0,May
542,Wisconsin,132404,1063,November
543,Wisconsin,257117,483,October
544,Wisconsin,353154,227,September

In [35]:
wine_df.dtypes

State                               object
# of Bottled Still Wines             int64
# of Bottled Effervescence Wines     int64
Month                               object
dtype: object

In [36]:
#changing data type
pd.to_numeric(wine_df)

TypeError: arg must be a list, tuple, 1-d array, or Series

In [37]:
# of Bottled Still Wines by state
still_wine = wine_df[['State', '# of Bottled Still Wines', 'Month']].copy()
still_wine.columns = ['State', 'Still', 'Month']
still_wine

          State     Still      Month
0       Alabama     30153   December
1        Alaska      5247   December
2       Arizona     80784   December
3      Arkansas     24197   December
4    California  39007466   December
..          ...       ...        ...
540   Wisconsin    353647      March
541   Wisconsin    156990        May
542   Wisconsin    132404   November
543   Wisconsin    257117    October
544   Wisconsin    353154  September

[545 rows x 3 columns]

In [38]:
# of Bottled Effervescence Wines by state
effervescence_wine = wine_df[['State', '# of Bottled Effervescence Wines', 'Month']].copy()
effervescence_wine.dtypes
effervescence_wine.columns = ['State', 'Effervescence', 'Month']
effervescence_wine

          State  Effervescence      Month
0       Alabama            200   December
1        Alaska              0   December
2       Arizona           2059   December
3      Arkansas              0   December
4    California        1110404   December
..          ...            ...        ...
540   Wisconsin            496      March
541   Wisconsin              0        May
542   Wisconsin           1063   November
543   Wisconsin            483    October
544   Wisconsin            227  September

[545 rows x 3 columns]

In [39]:
#changing  object to float
#effervescence_wine["Effervescence"] = effervescence_wine.Effervescence.astype(float)
effervescence_wine['Effervescence'] = effervescence_wine['Effervescence'].astype(float)

In [41]:
effervescence_wine.groupby(by="State", dropna=False).sum()

                      Effervescence
State
Alabama                       200.0
Alaska                       7150.0
Arizona                      8849.0
Arkansas                     2737.0
California               20090343.0
Colorado                     4598.0
Connecticut                  4444.0
Delaware                        0.0
District of Columbia            0.0
Florida                      5970.0
Georgia                      7395.0
Hawaii                       9770.0
Idaho                           0.0
Illinois                   107139.0
Indiana                     11564.0
Iowa                         4163.0
Kansas                          0.0
Kentucky                       21.0
Louisiana                       0.0
Maine                        3516.0
Maryland                     5385.0
Massachusetts                3222.0
Michigan                   107133.0
Minnesota                    9287.0
Mississippi                     0.0
Missouri                    91608.0
Montana                      4669.0
Nebraska                      566.0
Nevada                          0.0
New Hampshire                2735.0
New Jersey                  59128.0
New Mexico                 406821.0
New York                  2122029.0
North Carolina              21555.0
North Dakota                    0.0
Ohio                         3965.0
Oklahoma                        0.0
Oregon                     233322.0
Pennsylvania                20623.0
Rhode Island                  169.0
South Carolina                  0.0
South Dakota                  480.0
Tennessee                    5629.0
Texas                       11661.0
Utah                            0.0
Vermont                     58781.0
Virginia                    28538.0
Washington                 635639.0
West Virginia                 403.0
Wisconsin                   16205.0
Wyoming                         0.0