In [1]:
# %matplotlib notebook

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import scipy.stats as st
from scipy.stats import linregress
import gmaps
from config import g_key

# Must enable gmaps extension to display interactive gmaps in jupyter notebook
# jupyter nbextension enable --py gmaps

In [3]:
# Data filepaths
raw_data_filepath1 = "../data_raw/cdc_1990_1999_state_year_age.csv"
raw_data_filepath2 = "../data_raw/cdc_2000_2009_state_year_age.csv"
raw_data_filepath3 = "../data_raw/cdc_2010_2019_state_year_age.csv"
state_consumption_path = "../data_clean/per_capita_consumption_states_1977_2018_clean.csv"

In [4]:
cdc_1990_1999_age_data = pd.read_csv(raw_data_filepath1, delimiter=",")
cdc_age_by_state1 = cdc_1990_1999_age_data.drop(labels=['Notes'], axis=1)
cdc_age_1990_1999 = cdc_age_by_state1.dropna()
cdc_age_1990_1999

,State,State Code,Yearly July 1st Estimates,Yearly July 1st Estimates Code,Age,Age Code,Population
0,Alabama,1.0,1990.0,1990.0,14 years,14,57097.0
1,Alabama,1.0,1990.0,1990.0,15 years,15,59484.0
2,Alabama,1.0,1990.0,1990.0,16 years,16,58734.0
3,Alabama,1.0,1990.0,1990.0,17 years,17,62646.0
4,Alabama,1.0,1990.0,1990.0,18 years,18,65346.0
...,...,...,...,...,...,...,...
36715,Wyoming,56.0,1999.0,1999.0,81 years,81,1656.0
36716,Wyoming,56.0,1999.0,1999.0,82 years,82,1525.0
36717,Wyoming,56.0,1999.0,1999.0,83 years,83,1359.0
36718,Wyoming,56.0,1999.0,1999.0,84 years,84,1254.0
36719,Wyoming,56.0,1999.0,1999.0,85+ years,85+,6548.0

In [5]:
cdc_2000_2009_age_data = pd.read_csv(raw_data_filepath2, delimiter=",")
cdc_age_by_state2 = cdc_2000_2009_age_data.drop(labels=['Notes'], axis=1)
cdc_age_2000_2009 = cdc_age_by_state2.dropna()
cdc_age_2000_2009

,State,State Code,Yearly July 1st Estimates,Yearly July 1st Estimates Code,Age,Age Code,Population
0,Alabama,1.0,2000.0,2000.0,14 years,14,63845.0
1,Alabama,1.0,2000.0,2000.0,15 years,15,64606.0
2,Alabama,1.0,2000.0,2000.0,16 years,16,63734.0
3,Alabama,1.0,2000.0,2000.0,17 years,17,64198.0
4,Alabama,1.0,2000.0,2000.0,18 years,18,65305.0
...,...,...,...,...,...,...,...
36715,Wyoming,56.0,2009.0,2009.0,81 years,81,2042.0
36716,Wyoming,56.0,2009.0,2009.0,82 years,82,1876.0
36717,Wyoming,56.0,2009.0,2009.0,83 years,83,1619.0
36718,Wyoming,56.0,2009.0,2009.0,84 years,84,1588.0
36719,Wyoming,56.0,2009.0,2009.0,85+ years,85+,8407.0

In [6]:
cdc_2010_2019_age_data = pd.read_csv(raw_data_filepath3, delimiter=",")
cdc_age_by_state3 = cdc_2010_2019_age_data.drop(labels=['Notes'], axis=1)
cdc_age_2010_2019 = cdc_age_by_state3.dropna()
cdc_age_2010_2019

,State,State Code,Yearly July 1st Estimates,Yearly July 1st Estimates Code,Age,Age Code,Population
0,Alabama,1.0,2010.0,2010.0,14 years,14,63343.0
1,Alabama,1.0,2010.0,2010.0,15 years,15,64836.0
2,Alabama,1.0,2010.0,2010.0,16 years,16,66537.0
3,Alabama,1.0,2010.0,2010.0,17 years,17,67437.0
4,Alabama,1.0,2010.0,2010.0,18 years,18,69413.0
...,...,...,...,...,...,...,...
36715,Wyoming,56.0,2019.0,2019.0,81 years,81,2307.0
36716,Wyoming,56.0,2019.0,2019.0,82 years,82,2135.0
36717,Wyoming,56.0,2019.0,2019.0,83 years,83,1898.0
36718,Wyoming,56.0,2019.0,2019.0,84 years,84,1757.0
36719,Wyoming,56.0,2019.0,2019.0,85+ years,85+,10991.0

In [7]:
# Store columns for merge 'on='
columns = list(cdc_age_1990_1999.columns)
columns

['State',
 'State Code',
 'Yearly July 1st Estimates',
 'Yearly July 1st Estimates Code',
 'Age',
 'Age Code',
 'Population']

In [8]:
cdc_age_1990_2009 = cdc_age_1990_1999.merge(cdc_age_2000_2009, how='outer', on=columns)
cdc_age_1990_2009

,State,State Code,Yearly July 1st Estimates,Yearly July 1st Estimates Code,Age,Age Code,Population
0,Alabama,1.0,1990.0,1990.0,14 years,14,57097.0
1,Alabama,1.0,1990.0,1990.0,15 years,15,59484.0
2,Alabama,1.0,1990.0,1990.0,16 years,16,58734.0
3,Alabama,1.0,1990.0,1990.0,17 years,17,62646.0
4,Alabama,1.0,1990.0,1990.0,18 years,18,65346.0
...,...,...,...,...,...,...,...
73435,Wyoming,56.0,2009.0,2009.0,81 years,81,2042.0
73436,Wyoming,56.0,2009.0,2009.0,82 years,82,1876.0
73437,Wyoming,56.0,2009.0,2009.0,83 years,83,1619.0
73438,Wyoming,56.0,2009.0,2009.0,84 years,84,1588.0
73439,Wyoming,56.0,2009.0,2009.0,85+ years,85+,8407.0

In [9]:
cdc_age_1990_2019 = cdc_age_1990_2009.merge(cdc_age_2010_2019, how='outer', on=columns)
cdc_age_1990_2019

,State,State Code,Yearly July 1st Estimates,Yearly July 1st Estimates Code,Age,Age Code,Population
0,Alabama,1.0,1990.0,1990.0,14 years,14,57097.0
1,Alabama,1.0,1990.0,1990.0,15 years,15,59484.0
2,Alabama,1.0,1990.0,1990.0,16 years,16,58734.0
3,Alabama,1.0,1990.0,1990.0,17 years,17,62646.0
4,Alabama,1.0,1990.0,1990.0,18 years,18,65346.0
...,...,...,...,...,...,...,...
110155,Wyoming,56.0,2019.0,2019.0,81 years,81,2307.0
110156,Wyoming,56.0,2019.0,2019.0,82 years,82,2135.0
110157,Wyoming,56.0,2019.0,2019.0,83 years,83,1898.0
110158,Wyoming,56.0,2019.0,2019.0,84 years,84,1757.0
110159,Wyoming,56.0,2019.0,2019.0,85+ years,85+,10991.0

In [10]:
# OUTPUT MERGED DATA TO CSV
output_data_path = "../data_clean/cdc_population_estimates_1990_2019_merged.csv"
# cdc_age_1990_2019.to_csv(output_data_path)

In [21]:
per_capita_consumption_data = pd.read_csv(state_consumption_path, delimiter=",")
pcc_df = per_capita_consumption_data.drop('Unnamed: 0', axis=1)
pcc_df

,State,Year,Beer (Ethanol Gallons Per Capita),Wine (Ethanol Gallons Per Capita),Spirit (Ethanol Gallons Per Capita),All Drinks (Ethanol Gallons Per Capita),Number of Beers,Number of Glasses of Wine,Number of Shots Liquor,Total Number of Drinks
0,alabama,2018,1.04,0.26,0.69,1.99,246.518518,51.596899,143.260341,424.533333
1,alabama,2017,1.07,0.26,0.67,1.99,253.629630,51.596899,139.107867,424.533333
2,alabama,2016,1.09,0.26,0.65,2.01,258.370370,51.596899,134.955393,428.800000
3,alabama,2015,1.11,0.26,0.64,2.01,263.111111,51.596899,132.879156,428.800000
4,alabama,2014,1.13,0.25,0.62,2.00,267.851852,49.612403,128.726683,426.666667
...,...,...,...,...,...,...,...,...,...,...
2137,wyoming,1981,1.91,0.24,1.27,3.43,452.740741,47.627907,263.682076,731.733333
2138,wyoming,1980,1.85,0.24,1.32,3.41,438.518519,47.627907,274.063260,727.466667
2139,wyoming,1979,1.86,0.22,1.30,3.39,440.888889,43.658915,269.910787,723.200000
2140,wyoming,1978,1.81,0.22,1.35,3.38,429.037037,43.658915,280.291971,721.066667
2141,wyoming,1977,1.78,0.20,1.31,3.29,421.925926,39.689922,271.987024,701.866667

In [ ]:
# Groupby ages to get population by age + bar graph age ranges

In [ ]:
# Pull in Census API and compare to CDC population with TTest