In [1]:
%matplotlib notebook

In [2]:
import pandas as pd
import numpy as np
import json
import scipy.stats as st
import matplotlib.pyplot as plt

In [3]:
filepath = "Data/Per Capita Alcohol Consumption 1977_2018.csv"
per_capita_df = pd.read_csv(filepath, delimiter=",")
per_capita_df

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
0,alabama,2018,1.04,0.26,0.69,1.99,246.518518,51.596899,143.260341,424.533333
1,alabama,2017,1.07,0.26,0.67,1.99,253.629630,51.596899,139.107867,424.533333
2,alabama,2016,1.09,0.26,0.65,2.01,258.370370,51.596899,134.955393,428.800000
3,alabama,2015,1.11,0.26,0.64,2.01,263.111111,51.596899,132.879156,428.800000
4,alabama,2014,1.13,0.25,0.62,2.00,267.851852,49.612403,128.726683,426.666667
...,...,...,...,...,...,...,...,...,...,...
2347,us total,1981,1.39,0.35,1.02,2.76,329.481481,69.457364,211.776156,588.800000
2348,us total,1980,1.37,0.34,1.04,2.75,324.740741,67.472868,215.928629,586.666667
2349,us total,1979,1.34,0.31,1.04,2.70,317.629630,61.519380,215.928629,576.000000
2350,us total,1978,1.30,0.30,1.05,2.66,308.148148,59.534884,218.004866,567.466667
2351,us total,1977,1.27,0.29,1.04,2.60,301.037037,57.550388,215.928629,554.666667

In [4]:
states_list = per_capita_df['state'].unique()
states_list

array(['alabama', 'alaska', 'arizona', 'arkansas', 'california',
       'colorado', 'connecticut', 'delaware', 'district of columbia',
       'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana',
       'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland',
       'massachusetts', 'michigan', 'minnesota', 'mississippi',
       'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire',
       'new jersey', 'new mexico', 'new york', 'north carolina',
       'north dakota', 'ohio', 'oklahoma', 'oregon', 'pennsylvania',
       'rhode island', 'south carolina', 'south dakota', 'tennessee',
       'texas', 'utah', 'vermont', 'virginia', 'washington',
       'west virginia', 'wisconsin', 'wyoming', 'northeast region',
       'midwest region', 'south region', 'west region', 'us total'],
      dtype=object)

In [5]:
regions = ['northeast region', 'midwest region', 'south region', 'west region', 'us total']

In [6]:
states = ['alabama', 'alaska', 'arizona', 'arkansas', 'california',
       'colorado', 'connecticut', 'delaware', 'district of columbia',
       'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana',
       'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland',
       'massachusetts', 'michigan', 'minnesota', 'mississippi',
       'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire',
       'new jersey', 'new mexico', 'new york', 'north carolina',
       'north dakota', 'ohio', 'oklahoma', 'oregon', 'pennsylvania',
       'rhode island', 'south carolina', 'south dakota', 'tennessee',
       'texas', 'utah', 'vermont', 'virginia', 'washington',
       'west virginia', 'wisconsin', 'wyoming']

len(states)

51

In [7]:
per_capita_df['year'].nunique()

42

In [8]:
# DATA 1977-1997
df_1977_1997_all = per_capita_df.loc[per_capita_df['year'] <= 1997]
df_1977_1997_all = df_1977_1997_all.reset_index(drop=True)
df_1977_1997_all

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
0,alabama,1997,1.14,0.16,0.52,1.82,270.222222,31.751938,107.964315,388.266667
1,alabama,1996,1.17,0.18,0.53,1.88,277.333333,35.720930,110.040551,401.066667
2,alabama,1995,1.14,0.16,0.53,1.82,270.222222,31.751938,110.040551,388.266667
3,alabama,1994,1.16,0.17,0.54,1.87,274.962963,33.736434,112.116788,398.933333
4,alabama,1993,1.14,0.17,0.56,1.86,270.222222,33.736434,116.269262,396.800000
...,...,...,...,...,...,...,...,...,...,...
1171,us total,1981,1.39,0.35,1.02,2.76,329.481481,69.457364,211.776156,588.800000
1172,us total,1980,1.37,0.34,1.04,2.75,324.740741,67.472868,215.928629,586.666667
1173,us total,1979,1.34,0.31,1.04,2.70,317.629630,61.519380,215.928629,576.000000
1174,us total,1978,1.30,0.30,1.05,2.66,308.148148,59.534884,218.004866,567.466667
1175,us total,1977,1.27,0.29,1.04,2.60,301.037037,57.550388,215.928629,554.666667

In [9]:
# DATA 1998-2018
df_1998_2018_all = per_capita_df.loc[per_capita_df['year'] > 1997]
df_1998_2018_all = df_1998_2018_all.reset_index(drop=True)
df_1998_2018_all

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
0,alabama,2018,1.04,0.26,0.69,1.99,246.518518,51.596899,143.260341,424.533333
1,alabama,2017,1.07,0.26,0.67,1.99,253.629630,51.596899,139.107867,424.533333
2,alabama,2016,1.09,0.26,0.65,2.01,258.370370,51.596899,134.955393,428.800000
3,alabama,2015,1.11,0.26,0.64,2.01,263.111111,51.596899,132.879156,428.800000
4,alabama,2014,1.13,0.25,0.62,2.00,267.851852,49.612403,128.726683,426.666667
...,...,...,...,...,...,...,...,...,...,...
1171,us total,2002,1.23,0.33,0.64,2.20,291.555556,65.488372,132.879156,469.333333
1172,us total,2001,1.23,0.31,0.64,2.18,291.555556,61.519380,132.879156,465.066667
1173,us total,2000,1.23,0.31,0.64,2.19,291.555556,61.519380,132.879156,467.200000
1174,us total,1999,1.23,0.31,0.63,2.17,291.555556,61.519380,130.802920,462.933333
1175,us total,1998,1.22,0.30,0.62,2.15,289.185185,59.534884,128.726683,458.666667

In [10]:
# ONLY REGIONAL AND US TOTALS DATA 1977-1997
df_1977_1997_regions = df_1977_1997_all[df_1977_1997_all['state'].isin(regions)]
# df_1977_1997_regions['state'].unique()
# df_1977_1997_regions

In [15]:
df_1998_2018_regions = df_1998_2018_all[df_1998_2018_all['state'].isin(regions)]
# df_1998_2018_regions['state'].unique()
df_1998_2018_regions

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
1071,northeast region,2018,1.00,0.51,0.90,2.41,237.037037,101.209302,186.861314,514.133333
1072,northeast region,2017,1.02,0.53,0.88,2.42,241.777778,105.178295,182.708840,516.266667
1073,northeast region,2016,1.03,0.52,0.87,2.42,244.148148,103.193798,180.632603,516.266667
1074,northeast region,2015,1.04,0.51,0.85,2.40,246.518518,101.209302,176.480130,512.000000
1075,northeast region,2014,1.03,0.53,0.84,2.40,244.148148,105.178295,174.403893,512.000000
...,...,...,...,...,...,...,...,...,...,...
1171,us total,2002,1.23,0.33,0.64,2.20,291.555556,65.488372,132.879156,469.333333
1172,us total,2001,1.23,0.31,0.64,2.18,291.555556,61.519380,132.879156,465.066667
1173,us total,2000,1.23,0.31,0.64,2.19,291.555556,61.519380,132.879156,467.200000
1174,us total,1999,1.23,0.31,0.63,2.17,291.555556,61.519380,130.802920,462.933333
1175,us total,1998,1.22,0.30,0.62,2.15,289.185185,59.534884,128.726683,458.666667

In [14]:
x = df_1977_1997_regions['year']
y = df_1977_1997_regions['ethanol_all_drinks_gallons_per_capita']