In [1]:
%matplotlib notebook

In [2]:
import pandas as pd
import numpy as np
import json
import scipy.stats as st
import matplotlib.pyplot as plt

In [3]:
raw_data_filepath = "../data_raw/Per Capita Alcohol Consumption 1977_2018.csv"
per_capita_df = pd.read_csv(raw_data_filepath, delimiter=",")
per_capita_df

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
0,alabama,2018,1.04,0.26,0.69,1.99,246.518518,51.596899,143.260341,424.533333
1,alabama,2017,1.07,0.26,0.67,1.99,253.629630,51.596899,139.107867,424.533333
2,alabama,2016,1.09,0.26,0.65,2.01,258.370370,51.596899,134.955393,428.800000
3,alabama,2015,1.11,0.26,0.64,2.01,263.111111,51.596899,132.879156,428.800000
4,alabama,2014,1.13,0.25,0.62,2.00,267.851852,49.612403,128.726683,426.666667
...,...,...,...,...,...,...,...,...,...,...
2347,us total,1981,1.39,0.35,1.02,2.76,329.481481,69.457364,211.776156,588.800000
2348,us total,1980,1.37,0.34,1.04,2.75,324.740741,67.472868,215.928629,586.666667
2349,us total,1979,1.34,0.31,1.04,2.70,317.629630,61.519380,215.928629,576.000000
2350,us total,1978,1.30,0.30,1.05,2.66,308.148148,59.534884,218.004866,567.466667
2351,us total,1977,1.27,0.29,1.04,2.60,301.037037,57.550388,215.928629,554.666667

In [4]:
states_regions = per_capita_df['state'].unique()
states_regions

array(['alabama', 'alaska', 'arizona', 'arkansas', 'california',
       'colorado', 'connecticut', 'delaware', 'district of columbia',
       'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana',
       'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland',
       'massachusetts', 'michigan', 'minnesota', 'mississippi',
       'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire',
       'new jersey', 'new mexico', 'new york', 'north carolina',
       'north dakota', 'ohio', 'oklahoma', 'oregon', 'pennsylvania',
       'rhode island', 'south carolina', 'south dakota', 'tennessee',
       'texas', 'utah', 'vermont', 'virginia', 'washington',
       'west virginia', 'wisconsin', 'wyoming', 'northeast region',
       'midwest region', 'south region', 'west region', 'us total'],
      dtype=object)

In [5]:
regions = ['northeast region', 'midwest region', 'south region', 'west region', 'us total']

In [6]:
states = ['alabama', 'alaska', 'arizona', 'arkansas', 'california',
       'colorado', 'connecticut', 'delaware', 'district of columbia',
       'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana',
       'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland',
       'massachusetts', 'michigan', 'minnesota', 'mississippi',
       'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire',
       'new jersey', 'new mexico', 'new york', 'north carolina',
       'north dakota', 'ohio', 'oklahoma', 'oregon', 'pennsylvania',
       'rhode island', 'south carolina', 'south dakota', 'tennessee',
       'texas', 'utah', 'vermont', 'virginia', 'washington',
       'west virginia', 'wisconsin', 'wyoming']

len(states)

51

In [7]:
per_capita_df['year'].nunique()

42

In [8]:
regions_1977_2018_df = per_capita_df[per_capita_df['state'].isin(regions)]

# OUTPUT CLEAN DATA - REGIONS ONLY
regions_output_path = "../data_clean/per_capita_consumption_regions_1977_2018_clean.csv"
regions_1977_2018_df.to_csv(regions_output_path, index=False)

regions_1977_2018_df

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
2142,northeast region,2018,1.00,0.51,0.90,2.41,237.037037,101.209302,186.861314,514.133333
2143,northeast region,2017,1.02,0.53,0.88,2.42,241.777778,105.178295,182.708840,516.266667
2144,northeast region,2016,1.03,0.52,0.87,2.42,244.148148,103.193798,180.632603,516.266667
2145,northeast region,2015,1.04,0.51,0.85,2.40,246.518518,101.209302,176.480130,512.000000
2146,northeast region,2014,1.03,0.53,0.84,2.40,244.148148,105.178295,174.403893,512.000000
...,...,...,...,...,...,...,...,...,...,...
2347,us total,1981,1.39,0.35,1.02,2.76,329.481481,69.457364,211.776156,588.800000
2348,us total,1980,1.37,0.34,1.04,2.75,324.740741,67.472868,215.928629,586.666667
2349,us total,1979,1.34,0.31,1.04,2.70,317.629630,61.519380,215.928629,576.000000
2350,us total,1978,1.30,0.30,1.05,2.66,308.148148,59.534884,218.004866,567.466667
2351,us total,1977,1.27,0.29,1.04,2.60,301.037037,57.550388,215.928629,554.666667

In [9]:
states_1977_2018_df = per_capita_df[per_capita_df['state'].isin(states)]

# OUTPUT CLEAN DATA - STATES ONLY
states_output_path = "../data_clean/per_capita_consumption_states_1977_2018_clean.csv"
states_1977_2018_df.to_csv(states_output_path, index=False)

states_1977_2018_df

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
0,alabama,2018,1.04,0.26,0.69,1.99,246.518518,51.596899,143.260341,424.533333
1,alabama,2017,1.07,0.26,0.67,1.99,253.629630,51.596899,139.107867,424.533333
2,alabama,2016,1.09,0.26,0.65,2.01,258.370370,51.596899,134.955393,428.800000
3,alabama,2015,1.11,0.26,0.64,2.01,263.111111,51.596899,132.879156,428.800000
4,alabama,2014,1.13,0.25,0.62,2.00,267.851852,49.612403,128.726683,426.666667
...,...,...,...,...,...,...,...,...,...,...
2137,wyoming,1981,1.91,0.24,1.27,3.43,452.740741,47.627907,263.682076,731.733333
2138,wyoming,1980,1.85,0.24,1.32,3.41,438.518518,47.627907,274.063260,727.466667
2139,wyoming,1979,1.86,0.22,1.30,3.39,440.888889,43.658915,269.910787,723.200000
2140,wyoming,1978,1.81,0.22,1.35,3.38,429.037037,43.658915,280.291971,721.066667
2141,wyoming,1977,1.78,0.20,1.31,3.29,421.925926,39.689922,271.987023,701.866667

In [ ]:
x = df_1977_1997_regions['year']
y = df_1977_1997_regions['ethanol_all_drinks_gallons_per_capita']